parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: app/Http/Controllers/Api/Admin/PendaftarController.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 5
			path: app/Http/Controllers/Api/Akademik/KamusSinonimController.php

		-
			message: '#^Using nullsafe property access "\?\-\>kode_prodi" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/Kaprodi/DocumentController.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: app/Http/Controllers/Api/Kaprodi/ValidasiController.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: app/Http/Controllers/Api/Superadmin/AuditController.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: app/Http/Controllers/Api/Superadmin/KamusSinonimController.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: app/Services/ExcelParserService.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Services/ExcelParserService.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 11
			path: app/Services/ExcelParserService.php
