parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: app/Http/Controllers/Api/Superadmin/AuditController.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Services/ExcelParserService.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 11
			path: app/Services/ExcelParserService.php
